@font-face {
    font-family: 'Slikscreen';
    src: url(../fonts/Silkscreen-Regular.ttf);
}

:root{
    --color-yellow: rgb(255, 230, 0);
    --color-white: white;
    --color-red: rgb(255, 16, 0);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: 'Slikscreen';
}

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(45deg,rgb(61, 60, 60), rgb(37, 37, 37))
}

#header {
    padding: 1px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.212);
}

.logo-container h1{
    color: var(--color-yellow);
    margin: 10px;
}

.logo-container{
    display: flex;
    width: min-content;
}

.logo-container img{
    width: 70px;
    height: auto;
    margin-right: 10px;
}

#main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 15px;
}

#main .nav-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    border: none;
    background-color: transparent;
    width: 130px;
    height: 40px;
    font-size: 1.4rem;
    color: var(--color-yellow);
    border-bottom: 3px solid transparent;
    transition: 0s;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.11);
    border-bottom: 3px solid var(--color-yellow);
    transition: 0.2s;
}

.content-container {
    width: 70%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.content{
    width: 100%;
    display: flex;
    padding: 30px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.267);
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    color: var(--color-white);
    justify-content: center;
}

.content.animate {
    animation: fadeIn 0.4s;
}

.content img {
    height: 300px;
}


.txtContainer h2 {
    font-size: 2.3rem;
    margin-bottom: 30px;
    margin-top: 0;
    color: var(--color-yellow);
}

.txtContainer p {
    font-size: 1.2rem;
}

.txtContainer h3 {
    font-size: 1.4rem;
    color: var(--color-red);
    margin-bottom: 0;
}

.menu-element{
    width: 80%;
    border-bottom: 2px solid var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-element h2 {
    color: var(--color-yellow);
}

.menu-element .price{ 
    margin-top: 2px;
    color: var(--color-red);
    font-size: 2rem;
}

.menu-element img {
    width: 190px;
    height: 160px;
}

.menu-element:last-child {
    border-bottom: 2px solid transparent;
}

.contact-txt {
    color: var(--color-white);
    min-width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-txt h1{
    color: var(--color-yellow);
    margin-bottom: 10px;
}

.contact-txt h2{
    margin-bottom: 5px;
}

.imgs-container {
    display: flex;
    min-width: 70%;
    justify-content: space-between;
}

.imgs-container img{
    width: 250px;
    height: 250px;
}

.imgs-container iframe{
    width: 250px;
    height: 250px;
    border: none;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.github-container{
    align-items: center;
    color: white;
    font-size: 1.8rem;
    padding-bottom: 4px;
    display: flex;
    width: 200px;
}


.github-container h1{
    margin: 0;
}

.github-container {
    align-items: center;
    gap: 10px;
    color: rgb(36, 36, 36);
    font-size: 1.2rem;
    transition: 0.4s;
}

.github-container div{
    transition: 0.4s;
    margin-bottom: 5px;
}

.github-container img {
    height: 35px;
    width: 35px;
    transition: 0.4s;
}

.github-container:hover img{
    transform: rotate(360deg);
}

.github-container:hover div{
    transform: scale(1.1);
    text-decoration: underline;
    color: white;
}

.github-container div a:visited{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.github-container div a:link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}